:root {
    /* Font families */ 
    --ff-head: "Merriweather", serif;
    --ff-body: "Muli", sans-serif;
  
    /* Font sizes */
    --fs-body: 16px;
    --fs-h1: 24px;
    --fs-h2: 2rem;
    --fs-h3: 18px;
    --fs-h4: 16px;
    --fs-h5: 14px;
    --fs-h6: 12px;
  
    /* Font weights */
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
  
    /* Line heights */
    --lh-body: 1.5;
    --lh-heading: 1.2;
  
    /* Spacing */
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
  
    /* Colors */
    --color-bg: #f8fefa;
    --color-bg-alt: #eaf9ef;
    --color-text: #030e06;
    --color-text-light: #4a5d4e;
    --color-primary: #3dd973;
    /* --color-primary: #38E8DE; */
    --color-primary-light: #65e391;
    --color-primary-dark: #2fb85e;
    --color-secondary: #8acbe8;
    --color-secondary-light: #a7d8ef;
    --color-secondary-dark: #6dbfe1;
    --color-accent: #6786e2;
    --color-accent-light: #8ba2e8;
    --color-accent-dark: #4b6ad8;
  
    /* Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
    --color-card-shadow: rgba(0, 0, 0, 0.1);
  
    /* Borders */
    --border-width: 1px;
    --border-radius: 10px;
  }
  
  [data-theme="dark"] {
    --color-bg: #262D3D;
    --color-bg-alt: #2D3446;
    --color-text: #f2fcf5;
    --color-text-light: #b8d4c2;
    --color-primary: #4dd07a;
    /* --color-primary-light: #4dd07a; */
    --color-primary-dark: #1e9c4a;
    /* --color-secondary: #175673; */
    --color-secondary: #38E8DE; 
    --color-secondary-light: #1e6d8f;
    --color-secondary-dark: #124257;
    /* --color-accent: #6786e2; */
    --color-accent: #386AE7;
    --color-accent-light: #2a4db3;
    --color-accent-dark: #162c79;
    --color-card-shadow: #0C1F2D(31, 31, 31, 0.3);
  }